<cfscript>
	// wordle.net api call...
	// POST "text" struct to http://www.wordle.net/advanced
	// e.g.
	/*
	<form action="http://www.wordle.net/advanced" method="POST">
		<textarea name="text" style="display:none">
			How much wood would a woodchuck chuck if
			a woodchuck could chuck wood?
		</textarea>
		<input type="submit">
	</form>
	/*
	function wordle_cloud(text) {
		return text;
	}
	*/
</cfscript>