<cfheader name="Content-type" value="#url.type#">
<cfheader name="Cache-control" value="must-revalidate">
<cfheader name="Expires" value="#GetHttpTimeString(Now() + 7)#">
<cfscript>
if (isdefined("url.cdnlibs"))
 if (url.cdnlibs eq 'jquery')
  dump(httpi(url='https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js').filecontent);

if (isdefined("url.assets")) 
 for (i=1; i lte listlen(url.assets); i++) 
  include(url.path & listgetat(url.assets,i));
// how to control whitespace?
	// lint?
	// return(trim(fileread(asset)));??
</cfscript>