<form name="login" action="post" method="/user/login" style="text-align:right;">
	<label for="username">username:</label>
	<input type="text" name="username" id="username" tabindex="1"/>
	<label for="password">password:</label>
	<input type="password" name="password" id="password" tabindex="2"/>
	<input type="submit" value="Login" tabindex="3"/>
</form>