<!DOCTYPE html>
<html lang="en" dir="ltr">
{{> document_head}}
<body>
<div id="wrapper">
	<div id="maincontainer">
		{{> admin_header}}
		{{> admin_navigation}}
		<div id="contentbox">
		<!--<cfinclude template="#page#.cfm">-->
		</div>
	</div>
</div>
{{> document_scripts}}
</body>
</html>