<div id="header">
	{{#username}}
	<span class="lit logout">(Logged in as {{username}})</span>
	<a href="/admin/logout" class="lit logout" title="Maintain your privacy. Log Out from {{settings.site_name}}.">Log Out</a>
	{{/username}}
	{{^username}}
	<span class="lit logout">You are not logged in.</span>
	{{/username}}
	<div id="logo">
		<a href="/admin">
			<img src="/images/welcome.png" width="220" height="44" border="0" alt="{{page_title}}"/>
			<h1 class="lit lettering">Welcome to {{settings.site_name}}</h1>
		</a>
	</div>
</div> 
