<cfcomponent>
<cfscript>
	
	function init() {
		variables.context = {};
		//this.get = variables.get;
		return this;
	}

	/**
	 * @fn: auditor.expired_accounts()
	 * @desc: return a list of accounts with expiration dates > #threshold# days
	 */
	function expired_accounts(threshold) {
		var rs = {};
		// fetch data
		// convert query/recordset to struct?
		return rs;
	}

	function testmerge(a,b){
		return $.merge(a,b);
	}

</cfscript>
</cfcomponent>