<cfcomponent displayname="authenticator">
	<cfscript>
	// a.k.a. bouncer.cfc

	this.userinfo = {
		role = 'anonymous'
	};

	function init() {
		variables.context = {};
		return this;
	}

	function username(){
		var user = {
			username = 'bum off the street'
		};
		if (isdefined('cookie.user_id')) {
			user = {
				username = 'mock-user'
			};
		}
		return user;
	}

	function userrole(){
		//var rs = false;
		if (isdefined("cookie.user_id")) {
			return request.get("SELECT type FROM tbdx.users WHERE id='#cookie.user_id#'");
			//if (rs.recordcount) this.userinfo.role = rs.type;
		}
		else {
			return false;
		}
	}

	function check_whogoesthere() {
		if (not isdefined("cookie.user_id")) {
			page = 'login';
		}
		else if (this.userinfo.role is "user") {
			request.relocate(request.base_url & request.myTbdx & '/');
		}
	}

	// ick! todo
	function user_navigation() {
		var tabs = $.iterator(navigation);
		while (tabs.hasnext()) {
			tab = tabs.next();
			if (listcontains(tab.roles,user.role) or user.role is SUPERUSER_ROLE)
				structappend(this.tabs, tab);
		}
	}
	</cfscript>
</cfcomponent>